.game {
  text-align: center;
  max-width: 700px;
  max-height: 700px;
  margin: 0 auto;
  padding: 0;
  border: thin solid #ddd;

  background: #000;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #79592f;
  border-radius: 5px;
}

.title {
  max-width: 100%;
  margin: 10px;
  text-align: center;
}

.help {
  max-width: 50%;
  text-align:center;
  display: inline-block;
}

// Pattern styles
.container {
  display: table;
  height: 100%;
  width: 100%;
}

.left-half {
  display: table-cell;
  text-align: center;
  width: 50%;
  padding: 1rem;
  background: #b6701e;
  border-radius: 5px;
}

.right-half {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  padding: 1rem;
  background: #ff9e2c;
  border-radius: 5px;
}

.highscore-headers {
  display: table;
  width: 100%;
  margin:0;
  padding:0;
}

.highscore-headers-left {
  display: table-cell;
  width: 50%;
  text-align: center;
}

.highscore-headers-left {
  display: table-cell;
  width: 50%;
  text-align: center;
}

.highscores-result{
  display:table;
  width:100%;
  height: 100%;
}

.highscore-field {
  display: table;
  width:100%;
}

.highscore-field-left{
  display:table-cell;
  width:50%;
}

.highscore-field-right{
  display:table-cell;
  width:50%;
}


.memory-board {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  margin: 0 auto;
}

.mem-field button {
  display: inline-block;
  margin: 0 15px;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}

.timer {
	background: #000;
  color: #fff;
  margin-top: 3px;
  margin-left: 3px;
}



// Extra CSS for styling the Modal box
// https://www.sanwebe.com/2014/08/css-html-forms-designs

.modal-container{

  filter: blur(0);
  transform: scale(1);  
  opacity: 1;
  visibility: visible;
  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
  }
  @supports (offset-rotate: 0deg) {
    // OLD
    // offset-rotation: 0deg;
    // NEW
    offset-rotate: 0deg;
    offset-path: path("M 500,-350 S -300,500 -100,-200");
    &.off {
      offset-distance: 100%;
    }
  }
  @media (prefers-reduced-motion) {
    offset-path: none;
  }


	width:450px;
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.modal-container .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.modal-container h1{
	background: #2A88AD;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}
.modal-container h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.modal-container label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.modal-container input[type="text"],
.modal-container input[type="date"],
.modal-container input[type="datetime"],
.modal-container input[type="email"],
.modal-container input[type="number"],
.modal-container input[type="search"],
.modal-container input[type="time"],
.modal-container input[type="url"],
.modal-container input[type="password"],
.modal-container textarea,
.modal-container select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.modal-container .section{
	font: normal 20px 'Bitter', serif;
	color: #2A88AD;
	margin-bottom: 5px;
}
.modal-container .section span {
	background: #2A88AD;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.modal-container input[type="button"], 
.modal-container input[type="submit"]{
	background: #2A88AD;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
.modal-container input[type="button"]:hover, 
.modal-container input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
